@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>    
    <link href="~/Content/css/default.css" rel="stylesheet" />        
</head>
<body>
    <div>
        <h2>
            Admin Area Index
        </h2>
    </div>

    <div id="u342" class="ax_shape">
        <img id="u342_img" class="img" src="~/Content/images/u342.png">       
        <div id="u343" class="text">
            <p><span>&nbsp;</span></p>
        </div>
    </div>
    <div id="u344" class="ax_shape">
        <img id="u344_img" class="img " src="~/Content/images/u210.png">
        <div id="u345" class="text">
            <p><span>&nbsp;</span></p>
        </div>
    </div>
    <div id="u346" class="ax_horizontal_line">
        <img id="u346_start" class="img " src="~/Content/images/transparent.gif" alt="u346_start">
        <img id="u346_end" class="img " src="~/Content/images/transparent.gif" alt="u346_end">
        <img id="u346_line" class="img " src="~/Content/images/u212_line.png" alt="u346_line">
    </div>

    <div id="u347" class="ax_paragraph" style="">
        <img id="u347_img" class="img " src="~/Content/images/transparent.gif">
        <div id="u348" class="text" style="">
            <p><span>立即跳转</span></p>
        </div>
    </div>

    <div id="u349" class="ax_paragraph" style="">
        <img id="u349_img" class="img " src="~/Content/images/transparent.gif">
        <div id="u350" class="text" style="">
            <p style="font-size:18px;"><span style="font-size:18px;">商户</span><span style="font-size:18px;">信息已</span><span style="font-size:18px;">保存</span></p><p style="font-size:14px;"><span style="font-size:14px;">3秒后自动跳转至</span><span style="font-size:14px;">商户</span><span style="font-size:14px;">列表</span></p>
        </div>
    </div>

    <div id="u351" class="ax_shape">
        <img id="u351_img" class="img " src="~/Content/images/u9.png">
        <div id="u352" class="text" style="top: 2px; -webkit-transform-origin: 27.5px 27.5px;">
            <p><span>√</span></p>
        </div>
    </div>

    <div id="u353" class="ax_vertical_line">
        <img id="u353_start" class="img " src="~/Content/images/transparent.gif" alt="u353_start">
        <img id="u353_end" class="img " src="~/Content/images/transparent.gif" alt="u353_end">
        <img id="u353_line" class="img " src="~/Content/images/u217_line.png" alt="u353_line">
    </div>

    <div id="u354" class="ax_paragraph" style="">
        <img id="u354_img" class="img " src="~/Content/images/transparent.gif">
        <div id="u355" class="text" style="">
            <p><span style="cursor:default;">录入结算信息</span></p>
        </div>
    </div>
</body>
</html>
