@using Ctrip.Model;

@model IEnumerable<ModelValidator>

@{
    Contact contact = new Contact();
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataErrorInfoModelValidatorProvider</title>
</head>
<body>
    <table>
        <tr>
            <th>ModelValidator</th>
            <th>Message</th>
        </tr>
        @foreach (var validator in Model)
        {
            ModelValidationResult[] results = validator.Validate(contact).ToArray();

            string firstMessage = (results.Any() ? results.First().Message : "N/A");
            
            <tr>
                <td  rowspan="@results.Length">@validator.GetType().Name</td>
                <td>@firstMessage</td>
            </tr>
            
            for (int i = 1; i < results.Length; i++)
            { 
            <tr>
                <td>@results[i].Message</td>
            </tr>
            }
        }
    </table>
</body>
</html>
