@{ 
    ViewBag.Title = "Sorry, there was a problem!"; 
}
<!DOCTYPE html>
<html>
<head>
    <title>Default Error</title>
</head>
<body>
    <h2>
        这是一个默认的错误页面</h2>
    <span>One of the arguments was out of the expected range.</span>
</body>
</html>
