@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试下载</title>
</head>
<body>
   @Html.ActionLink("测试下载", "Index1")
</body>
</html>
