

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RangeError</title>
</head>
<body>
    <div>
        <h2>
        值范围错误</h2>
        <h2>
        利用过滤器传递参数暂时没有成功</h2>
        <span>The value @Model was out of the expected range.</span> 
        <div> 
        @Html.ActionLink("Change value and try again", "Home","Index") 
    </div> 
    </div>
</body>
</html>
