@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildActionValueProvider</title>
</head>
<body>
   @Html.Action("DisplayRouteData", new { Foo = 123, Bar = 456, Baz = 789 })
</body>
</html>
